.dipsyland.root-el {
  position: relative;
  width: 100%;
  // height: var(--section-height);

  .container-el {
    position: fixed;
    width: 100%;
    height: var(--section-height);
    overflow: hidden;
    background-color: #96e282;
    z-index: -1;
  }

  .background-img {
    /*position: absolute;*/
    background-position: bottom;
    background-size: auto 1024px;
    // background-repeat-y: no-repeat;
    resize: both;
    width: 600vw;
    height: 1024px;
    position: fixed;
    z-index: -1000;

    &.sky {
      background-image: url("../../assets/img/sky.png");
    }

    &.cloud {
      background-image: url("../../assets/img/cloud.png");
      animation: move 32s 0s infinite linear;
    }

    &.city {
      background-image: url("../../assets/img/city.png");
      animation: move 16s 0s infinite linear;
    }

    &.grass {
      background-image: url("../../assets/img/grass.png");
      animation: move 8s 0s infinite linear;
    }
  }

  @keyframes move {
    from {
      left: 0;
    }

    to {
      left: -552px;
    }
  }
}

.dipsyland.float {
  // position: absolute;
  // left: 50vw;
  // top: 50vh;
  height: var(--section-height);
  transform: translateY(50%);

  &>h1.title {
    font-family: "flappy";
    text-shadow: 5px 5px 3px #000000;
    color: #ffffff;
    text-align: center;
    font-size: 4.2rem;
    line-height: 110%;
    margin: 1rem;
  }

  &>h6.quote {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: unset;
    margin: 1rem;
  }
}