.live-root {
  position: absolute;
  top: -1px;
  right: -1px;

  &>.live {
    position: absolute;
    top: -50px;
    right: -50px;
    transform: rotate(45deg);
    color: var(--bright);
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;

    &>.triangle {
      width: 100px;
      height: 100px;
      background: #1e5799;
      /* Old browsers */
      background: -moz-linear-gradient(45deg,
          #1e5799 0%,
          #2989d8 50%,
          #207cca 51%,
          #7db9e8 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg,
          #1e5799 0%,
          #2989d8 50%,
          #207cca 51%,
          #7db9e8 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg,
          #1e5799 0%,
          #2989d8 50%,
          #207cca 51%,
          #7db9e8 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */
      z-index: -1;
    }

    &>.gradient {
      transform: rotate(-45deg);
      position: absolute;
      width: 100px;
      height: 100px;
      background: #4c4c4c;
      /* Old browsers */
      background: -moz-linear-gradient(45deg,
          #1e5799 0%,
          #2989d8 2%,
          #7db9e8 7%,
          #207cca 17%,
          var(--dark) 17%,
          hsl(var(--background)) 19%,
          hsl(var(--background)) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg,
          #1e5799 0%,
          #2989d8 2%,
          #7db9e8 7%,
          #207cca 17%,
          var(--dark) 17%,
          hsl(var(--background)) 19%,
          hsl(var(--background)) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg,
          #1e5799 0%,
          #2989d8 2%,
          #7db9e8 7%,
          #207cca 17%,
          var(--dark) 17%,
          hsl(var(--background)) 19%,
          hsl(var(--background)) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#ffffff', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */
      top: -50px;
      transition: top 0.2s ease-in-out;
      z-index: 10;
    }

    &:hover>.gradient {
      top: -25px;
    }

    &>.text {
      position: absolute;
      width: 100px;
      text-align: center;
      bottom: 0;
    }
  }
}