.namecard.card {
  position: relative;
  background-color: var(--bright);
  min-height: 300px;
  max-width: 1000px;
  margin: calc((var(--section-height) - 300px) / 2) auto;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 600px) {
    margin: 10rem 0;
  }

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .card-section {
    // width: 100%;
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .field {
    margin: 20px;
  }

  .links {
    display: flex;
    justify-content: space-around;
  }
}