.nav-item {
  color: unset;
  text-decoration: none;
  padding: 1em 1em;
  font-size: 1em;
  line-height: 1.5em;

  &:hover {
    // background-color: #00000010;
    text-decoration: none;
  }

  &.title {
    padding: 0.5em 1em;
    font-size: 1.5em;
    font-weight: 600;

    &:hover {
      text-decoration: none;
    }
  }
}
