.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.nav-item {
  color: unset;
  text-decoration: none;
  padding: 1em 1em;
  font-size: 1em;

  &:hover {
    background-color: #00000010;
    text-decoration: none;
  }

  &.title {
    padding: 0.5em 1em;
    font-size: 1.5em;

    &:hover {
      text-decoration: none;
    }
  }
}
