.works.card {
  --time-width: 100px;
  position: relative;
  background-color: #f8f8f8;
  max-width: 1200px;
  min-height: calc(var(--section-height) - 10rem * 2);
  margin: 10rem auto;
  overflow: hidden;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 600px) {
    margin: 10rem 0;
    --time-width: 12px;
  }.container-el {
    margin: 5rem;
    position: relative;
  
    @media screen and (max-width: 800px) {
      margin: 5rem 20px;
    }
  
    @media screen and (max-width: 600px) {
      margin: 5rem 10px;
    }
  }
  
  .my-work {
    text-align: left;
  }
  
  .filter {
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    >.label {
      margin: 0 4px;
    }
  }
  
  .works {
    display: flex;
    flex-flow: wrap;
  
    /*justify-content: space-between;*/
    & .placeholder {
      content: "";
      flex: 1 1 0;
      margin: 11px 11px;
      min-width: 300px;
    }
  }
}